$color-red: #D81E05;
$color-red2: #D21D05;
$color-red3: #C22821;
$color-blue: #0E69AF;
$color-black: #000000;
$color-black2: #242424;
$color-card: #00062B;
$color-gray: #818181;
$color-gray2: #F7F7F7;

$bg-color-primary: #FFFFFF;

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;
$font-family-alternate: 'Montserrat', sans-serif;
$font-family-alternate2: 'Ubuntu', sans-serif;

$text-size-xxxlg: 42px;
$text-size-xxlg: 37px;
$text-size-xlg: 31px;
$text-size-lg: 30px;
$text-size-xmd: 24px;
$text-size-card: 23.3px;
$text-size-md: 20px;
$text-size-sm: 16px;
$text-size-xs: 15px;

$resize-md: 768px;
$resize-lg: 1024px;

